# If you deploy the backend to Render or Vercel, replace this URL!
VITE_BACKEND_URL="http://localhost:3000"

# (Optional) If you want to bypass native session auth for testing
# VITE_TRELLO_API_KEY="..."
# VITE_TRELLO_API_TOKEN="..."
